body{
  margin: 20px;
}

.image-heading {
  border-radius: 50%;
  width:40px;
  height:40px;
}

.cetaktebal {
  color:#000000;
  font-weight:bold;
  font-size:30px;
  padding-left:10px;
}

.image {
  background-image: url('https://images.unsplash.com/photo-1582461154118-af3423f52606?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
  background-size:cover;
  height:400px;
}

header{
  padding: 150px;
  color: black;
  text-align: center;
}

h1 {
  font-size:50px;
  padding-left:160px;
  padding-right:100px;
  padding-top:160px;
  padding-bottom:160px;
}

h2{
  font-size: 50px;
  padding: 0px;
}

h3{
  color: grey;
  font-size: 25px;
}

p{
  color: black;
  font-size: 20px;
}

.post .title{
  display: flex;
}

.post .dot{
  height: 100px;
  width: 0px;
  border-radius: 50%;
  background-color: black;
  box-sizing: border-box;
  margin-right: 1em
}

.fa-arrow-circle-o-down:before{
  content:""
}

.meta {
  color:;
}